.about-banner-section {
    height: 50vh;
    background-color: #2E3841;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* text-align: center; */
    padding: 170px 50px 100px 50px;
    margin-top: -100px;

}

.about-image-section {
    height: 70vh;
    background-color: #D9D9D9;
    background: url('../assets/images/About-img/banner-about.jpg') no-repeat center center;
    background-size: cover;
   

}
.about-banner-content-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;

}

.about-banner-content-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    justify-content: center;
    padding: 20px;
}
.about-banner-content-right img {
    width: 90%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
/* about-who-we-are-section start */


.about-who-we-are-section {
    /* background-color: red; */
    padding: 100px 50px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
}

.who-we-are-left-container {
    width: 30%;
    padding-top: 17px;
    /* background-color: green; */
}

.who-we-are-left-container img {
    width: 20px;
    height: auto;

}

.who-we-are-left-container span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

.who-we-are-left-container span img {
    margin-bottom: -8px;
}

.who-we-are-right-container {
    width: 70%;
    /* background-color: green; */
}

/* about-who-we-are-section End */






/* our team section start  */
.our-team-section {
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    transition: 0.4s ease-in-out;

}

.inner-about-out-team {
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    transition: 0.4s ease-in-out;


}

.about-team-container {
    background-color: #E6E6E6;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.4s ease-in-out;
    border: 1px solid transparent;
    overflow: hidden;
}

.team-wrapper:hover .about-team-container {
    flex: 1;
}

.about-team-container:hover {
    flex: 1.15;
    border-color: black;
}

.our-team-img-container {
    height: 60vh;
    position: relative;
    overflow: hidden;
   
}
.our-team-img-container::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 1 );
    opacity: 0.4;
    transition: opacity 0.4s ease-in-out;
    z-index: 10;
}



.our-team-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease-in-out;
}



.ourteam-container-contacts {
    padding: 30px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.ourteam-container-contacts .text-black:last-child {
    margin-top: -10px;
}

.our-team-names {
    position: absolute;
    top: 85%;
    left: 20px;
    z-index: 200;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    height: 35px;

}

.ourteam-logo {
    width: 30px;
    height: 30px;
    /* background-color: white; */
    right: 20px;
    top: 20px;
    position: absolute;
    z-index: 20;
}

.team-name-text {
    color: white;
    font-family: "barlow", monospace;
    font-size: 14px;
    font-weight: 500;
}

.team-ceo-text {
    color: white;
    font-family: "barlow", monospace;
    font-size: 10px;
    font-weight: 300;
}

/* our team section End */



/* about-contact-us-section start */
.about-contact-us-section {
    padding: 100px 50px;
    background-color: #2E3840;
}

.about-contact-us-section .text-white {
    margin-top: 50px;
}

/* about-contact-us-section End */




/* about-contact-us-dark-section start */
.about-contact-us-dark-section {
    padding: 100px 50px;
    background-color: black;
}

.about-contact-us-dark-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;
    gap: 50px;
}

.about-contact-us-dark-inner-container {
    /* background-color: red; */
    width: 20%;
    padding-left: 30px;
    border-left: white 2px solid;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 80px;
    height: 45vh;
}

/* about-contact-us-dark-section End */




/* about-map-section start */
.about-map-section {
    padding: 100px 50px 100px 50px;
    background-color: white;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-map-centainer-left {
    width: 55%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;

}

.about-map-centainer-right {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
}

/* about-map-section End */