.footer {
  background-color: black !important;
  padding: 100px 50px 30px 50px;
  z-index: 1000000000 !important;
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 50px;
  flex-direction: row;
  /* height: 50vh; */

}
li{
  overflow: hidden;
  height: fit-content;
}
.left-logo-container-footer {
  width: 30%;
  height: 100%;
  /* background-color: green; */
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 50px;
}

.left-logo-container-footer img {
  width: auto;
  height: 40px;
}
.right-logo-container-footer{
  width: 60%;
  height: 100%;
  /* background-color: green; */
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 50px;
  
}
.inner-right-container-footer{
  width: 100%;
  height: 100%;
  /* background-color: green; */
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
  gap: 50px;

  
}

.quicklinks-footer {
    width: 15%;
    /* padding-top: 87px; */
    display: flex
;
    /* background-color: red; */
    flex-direction: column;
    position: absolute;
    top: 100px;
    right: 60px;
    gap: 30px;
}

.quicklinks-footer .footer-nav {
  list-style: none;
  display: flex;
  gap: 12px;
  margin: 0;
  padding: 0;
  flex-direction: column;
  margin-top: 30px;
}


.quicklinks-footer .footer-link {
  color: white;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-size: 13px;
  padding-bottom: 5px;
  overflow: hidden;
  height: fit-content;
}

.quicklinks-footer .footer-link:hover {
  color: #40ffc9;
  
}





.services-footer {
  width: 30%;
  /* padding-top: 87px; */
  display: flex;
  /* background-color: red; */
  flex-direction: column;
  gap: 30px;

}

.services-footer .footer-nav {
  list-style: none;
  display: flex;
  gap: 12px;
  margin: 0;
  padding: 0;
  flex-direction: column;
}


.services-footer .footer-link {
  color: white;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-size: 13px;
  padding-bottom: 5px;
}

.services-footer .footer-link:hover {
  color: #40ffc9;
}








.contact-details {
  width: 100%;
  /* padding-top: 87px; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 30px;

}

.info-contact-inner {
  /* background-color: chartreuse; */
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  gap: 8px;

}

.info-contact-inner svg {
  fill: white;
  width: 20px;
  height: 20px;
}

.info-contact-inner a {

  color: white;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-size: 13px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;


}
.footer-services-section{
    background-color: black !important;
  padding: 30px 50px 50px 50px;
  z-index: 1000000000 !important;
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: row;
  /* height: 50vh; */
}

.footer-end {
  padding: 0px 50px 50px 50px;
  height: 40px;
  background-color: black;
  z-index: 1000000000 !important;
  position: relative;

}

.end {
  padding-top: 25px;
  text-align: center;
  border-top: 2px solid white;
  /* height: 20px; */
}

@media only screen and (max-width: 800px) {
  .footer{
    flex-direction: column;
    padding: 60px 20px;
  }
  .left-logo-container-footer {
    width: 100%;
  }
  .right-logo-container-footer{
    width: 100%;
    flex-direction: column;
  }
  .inner-right-container-footer {
    width: 100%;
    height: 100%;
    /* background-color: green; */
    display: flex
;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 50px;
}
.services-footer{
  width: 100%;
  overflow: hidden;
}
.quicklinks-footer{
  position: static;
  width: 100%;
  gap: 30px !important;
}
}