.services-page-hero-banner{
    background-color:rgb(0, 0, 0);
    height: 50vh;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 100px 0px 0px 50px;
    margin-top: -100px;


}
.services-hero-left{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    /* background-color: rebeccapurple; */

}
.services-hero-right{
    width: 30%;
    height: 100%;
     background: url(../assets/images/services-img/banner-bg.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;

}





/* our-Service-Section start */
.our-Service-Section {
    padding: 100px 50px;
    background-color: white;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 100px;
}
.our-Service-Section-left-container-sticky {
    width: 40%;
}
.our-Service-left-container-green {
    margin-top: 30px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 20px;
}
.our-Service-Section-right-container {
    position: sticky;
    top: 230px;
    width: 40%;
    background-color: #E0FFFF;
    border-radius: 5px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
}
.scrolling-container-our-services {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    
}
.active-link {
    color: #003377;
    font-weight: 600;
    transition: 0.5s ease-in-out;
}
.scrolling-link-our-services{
    /* background-color: #003377; */
    width: fit-content;
}
.scrolling-link-our-services-container{
    display: flex;
    align-items: start;
    gap: 10px;
    justify-content: start;
    flex-direction: column;
                              
}

/* our-Service-Section End */






/* Partners and Alliances Section  start*/

.partners-section {
    background: #F4F4F4;
    padding: 100px 50px;
    margin: 100px 0px; 
}
.partners-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 25px;
}
.partners-logos-row {
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.partner-logo-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:10px;
}


/* Partners and Alliances Section  end*/











